@using CryptoDataWebScraper.Models
@model CryptoDataWebScraper.Models.Ledger

@{
    ViewBag.Title = "ViewSnaps";

}

<h2>Snap Table</h2>

<div>
    <h4>CoinTable</h4>
    <hr />
    <table class="table table-bordered table-hover">
        <thead>

            <dt>SnapTime</dt>
            <dd>@Html.DisplayFor(m => m.Time)</dd>
            <tr>
                <td>Position</td>
                <td>Symbol</td>
                <td>Name</td>
                <td>24hr Change</td>
                <td>Price</td>


            </tr>
            @foreach (var coin in @Model.CryptoCoins)
            {
            <tr>
                <td>@coin.Position</td>
                <td>@coin.Symbol</td>
                <td>@coin.Name</td>
                <td>@coin.Change</td>
                <td>@coin.Price</td>


            </tr>
            }
        </thead>
    </table>
</div>



